.btn-main {
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--secondary-color);
      }
  }

  
  .header{
    font-size: 54px;
    color: var(--text-color);
  }