.btn-main {
    background-color: var(--primary-color);

    &:hover {
        box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
        color: black;
        background-color: var(--link-color);
      }
  }

  
  .header{
    font-size: 54px;
    color: var(--text-color);
  }

  a {
    color: var(--link-color);
  }

 